.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-bottom: 4rem;
  max-width: 40rem;
}

.form input {
  padding: .75rem;
  font-size: 1rem;
  display: block;
  width: 100%;
  border-radius: .5rem;
  font-family: 'Cinzel Decorative', cursive;
  margin-bottom: 1rem;
}

.form button {
  padding: .75rem 3rem;
  font-size: 1rem;
  display: inline-block;
  border-radius: .5rem;
}

.response .avatar {
  border-radius: 50%;
  height: auto;
  width: 16rem;
  margin-bottom: -1.5rem;
  z-index: 1;
}

.response .container {
  padding: 1rem;
  max-width: 40rem;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.container .name {
  font-size: 2.5rem;
  color: #E15736;
}

.container .divider {
  border-color: #E15736;
}